/*

!.github/
!atcoder-cli-nodejs/
atcoder-cli-nodejs/session.json
!cheat/
!lazygit/
lazygit/state.yml
!npm/
npm/*
!npm/npmrc
!nvim/
!online-judge-tools/

!.bashrc
!.gitignore
!.inputrc

!LICENSE
!README.md

!install.sh
